/* Main CSS file for page styling */

body {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
}


/* CSS from  http://bl.ocks.org/mbostock/9656675 */

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: white;
  cursor: pointer;
  stroke: grey;
}

.feature.active {
  fill: #eaeaea;
}

.mesh {
  fill: none;
  stroke: grey;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* end block from http://bl.ocks.org/mbostock/9656675 */

div.brewDiv {
    position: absolute;
    text-align: center;
    width: 60px;
    padding: 8px;
    font: 10px sans-serif;
    background: #ddd;
    border: solid 1px #aaa;
    pointer-events: none;
}

body {
  font: 10px sans-serif;
}

.bar rect {
  fill: steelblue;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.map-data {
}

.map {
  width: 960px;
  height: 500px;
  float: left;
  margin: 15px;
}

.brewery-view {
  width: 300px;
  height: 500px;
  float: left;
}

.breweryName {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
}

.breweryInfo {
  font-weight: normal;
}

.timeline {
  width: 960px;
}

#year {
  border: 0; 
  color: #f6931f; 
  font-weight: bold;
}

.bar text {
  fill: #000;
}

.breweryStats div {
  float: left;
  margin-right: 10px;
}

.breweryRating {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  float: left;
}

.breweryRating p {
  text-align: center;
  margin: 0px;
}

.breweryRating .bRNumber {
  font-size: 25px;
}

.breweryBeerRating {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-left: 5px;
  float: left;
}

.breweryBeerRating p {
  text-align: center;
  margin: 0px;
}

.breweryBeerRating .bRNumber {
  font-size: 25px;
}

.breweryStats {
  margin-bottom: 75px;
}

.bRNumber {
  font-size: 25px;
}

.yearTitle {
  text-align: center;
  height: 50px;
  margin-top: 10px;
}

.yearTitle p {
  margin: 0;
}

.beerRatingView {
  font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid black;
  height: 70px;
  position: relative;
}

.beerRatingView p {
  margin: none;
}

.beerRatingView .left {
  float: left;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.beerRatingView .right {
  float: right;
  height: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.beerRatingView .clear {
  clear: both;
}

.topBeer {
  margin-top: 16px;
}

.topBeer p {
  font-size: 11px;
  margin-top: 0;
  font-weight: normal;
}

.beerRatingTitle {
  font-weight: bold;
  font-size: 15px;
  margin-bottom: -10px;
}