/* Main CSS file for page styling */
@import url(http://fonts.googleapis.com/css?family=Roboto:400,700);

body {
  font-family: "Roboto", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  font-size: 10px;
  background-color: #eee;
}

.wrapper {
  display: block;
  margin: 0 auto;
  max-width: 1200px;
}

/* CSS from  http://bl.ocks.org/mbostock/9656675 */

.background {
  fill: none;
  pointer-events: all;
}

.feature {
  fill: lightgrey;
  cursor: pointer;
  stroke: #eee;
}

.feature.active {
  fill: #eaeaea;
}

.mesh {
  fill: none;
  stroke: #eee;
  stroke-linecap: round;
  stroke-linejoin: round;
}

/* end block from http://bl.ocks.org/mbostock/9656675 */

.brewDiv, .sideDiv {
  position: absolute;
  text-align: center;
  width: 60px;
  padding: 8px;
  font: 10px sans-serif;
  background: #F44336;
  color: #fff;
  border-radius: 5px;
  pointer-events: none;
}

circle.brewery {
  fill: #3F51B5;
}

circle.brewery.current {
  fill: #F44336;
}

.bar rect {
  fill: #3F51B5;
  shape-rendering: crispEdges;
}

.bar text {
  fill: #fff;
}

.axis path, .axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.brush .extent {
  stroke: #fff;
  fill-opacity: .125;
  shape-rendering: crispEdges;
}

.mainTitle h1 {
  font-weight: 700;
  font-size: 24px;
  text-align: center;
  background-color: #fff;
  padding: 10px 0;
}

.map {
  width: 800px;
  height: 500px;
  float: left;
  margin-right: 15px;
  border-radius: 5px;
  border: 2px solid lightgrey;
}

.map text {
  cursor: pointer;
}

.brewery-view {
  width: 300px;
  height: 500px;
  float: left;
}

.breweryName {
  font-weight: bold;
  font-size: 20px;
  margin-bottom: 0;
  margin-top: 0;
}

.breweryInfo {
  font-weight: normal;
}

.timeline {
  width: 800px;
}

#year {
  border: 0; 
  color: #F44336; 
  font-weight: bold;
  margin-top: 5px;
  background-color: #eee;
}

.bar text {
  fill: #000;
}

.breweryStats div {
  float: left;
  margin: 20px;
}

.breweryRating {
  width: 50px;
  height: 50px;
  margin: 10px;
  float: left;
}

.breweryRating p {
  text-align: center;
  margin: 0px;
}

text.y.label, text.x.label {
  font-size: 16px;
}

.breweryRating .bRNumber {
  font-size: 25px;
}

.breweryBeerRating {
  width: 50px;
  height: 50px;
  margin-top: 10px;
  float: left;
}

.breweryBeerRating p {
  text-align: center;
  margin: 0px;
}

.breweryBeerRating .bRNumber {
  font-size: 25px;
}

.breweryStats {
  height: 60px;
}

.search {
  position: absolute;
  margin-top: 10px;
  margin-left: 10px;
}

#searchFilter {
  width: 250px;
  height: 15px;
  padding: 10px;
  margin: 10px;
  border-radius: 5px;
  border: none;
}

.bRNumber {
  font-size: 25px;
}

.yearTitle {
  text-align: center;
  height: 50px;
  margin: 10px;
}

.yearTitle p {
  margin: 0;
}

.beerRatingView {
  font-weight: 300;
  font-size: 15px;
  border-bottom: 1px solid black;
  height: 70px;
  position: relative;
}

.beerRatingView p {
  margin: none;
}

.beerRatingView .left {
  float: left;
  width: 200px;
  position: absolute;
  bottom: 0;
  left: 0;
}

.beerRatingView .right {
  float: right;
  height: 50px;
  font-weight: bold;
  text-align: center;
  font-size: 30px;
}

.beerRatingView .clear {
  clear: both;
}

.topBeer {
  margin-top: 16px;
}

.topBeer.beerName {
  font-weight: 700;
}

.topBeer.ratingScore > p, .topBeer.beerName > p {
  font-size: 11px;
  margin: 0;
  font-weight: 400;
}

.beerRatingTitle {
  font-weight: bold;
  font-size: 18px;
  margin-top: 35px;
}

.totalBeerChart {
  width: 300px;
  margin: 15px 0;
  font-weight: 700;
  font-size: 18px;
}

.totalBeerChart text {
  font-size: 10px;
  font-weight: 400;
}

.totalBeerChart rect {
  fill: #3F51B5;
  shape-rendering: crispEdges;
}

#animation-progress {
	background-color: #F44336;
	width: 0%;
	height: 10px;
}

#animateYear {
  border: 0;
  margin-top: 10px;
  margin-bottom: 0px;
  color: #fff; 
  background-color: #F44336;
  border-radius: 5px;
  font-weight: bold;
  padding: 5px 20px;
}